/* You can add global styles to this file, and also import other style files */
*:not(dialog) {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
}
i {
  font-family: FontAwesome;
}
.visually-hidden {
  display: none;
}
